*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
    padding: 30px;
    background-color:rgb(255, 255, 255);   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(103, 99, 107); 
    font-family: 'Ubuntu', sans-serif;
}

.button-container-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
  appearance: none;
  width: 75%;
  height: 135px;
  opacity: 100%;
  border-radius: 40em;
  border: none;
  box-shadow: #683d3d 0 -6px 8px inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: url(../images/cmu-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.button1:hover {
  background-color: rgb(223, 188, 37);
  box-shadow: #683d3d 0 -6px 8px inset;
  transform: scale(1.125);
}

.button1:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button1 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.button2 {
    appearance: none;
    width: 75%;
    height: 135px;
    opacity: 100%;
    border-radius: 40em;
    border: none;
    box-shadow: #000000 0 -6px 8px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: url(../images/emu-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .button2:hover {
    background-color: rgb(25, 100, 50);
    box-shadow: #000000 0 -6px 8px inset;
    transform: scale(1.125);
  }
  
  .button2:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 768px) {
    .button2 {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }

.logo{
    color:antiquewhite;
    text-transform: uppercase;
    letter-spacing: 5px; /* spacing between each individual letter */
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li{
    list-style: none; /* Gets rid of bulletpoints */
}

.nav-links a{
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(57, 235, 205);
    margin: 5px;
    transition: all 0.3s ease; 
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 8vh;
        background-color:rgb(34, 41, 46);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

.nav-links .current{
color: rgb(57, 235, 205); 
}

.nav-links a:hover{ 
color: rgb(241, 206, 50) !important; 
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.img-emu {
    width: 1200px;
    height: 200px;
    background-image: url(../images/emu-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.img-cmu {
    width: 1200px;
    height: 200px;
    background-image: url(../images/cmu-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.img-walsh {
        width: 1200px;
        height: 200px;
        background-image: url(../images/walsh-logo2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
}

.img-headshot{
        width: 200px;
        height: 300px;
        background-image: url(../images/headshot.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 30px;
        border: 2px solid rgb(17, 17, 17);

}

.content{
    font-family: 'Ubuntu', sans-serif;
}

.rounded-edges{
    border-radius: 30px;
}

